{% extends "base.html" %}

{% block main %}
<div class="left-cont">
    <h1>What is <br /><label style="color: #729343;">VITAL TRACK</label> <br />all about?</h1>
    <p>VitalTrack is a body temperature and blood oxygen saturation monitoring device that provides real-time feedback to the user through an OLED screen. It stores relevant information, such as personal details gathered via an RFID system, location, body temperature, and oxygen saturation levels, to a web server.</p>
</div>
<div class="forms">
    <p>VitalTrack is the final project for CS 145, with group members:</p>
    <ul>
        <li>Braullo Jo - EXCELLENCE-1</li>
        <li>Brylle Joshua Logroño - EXCELLENCE-1</li>
        <li>Earl Wilbur Nogra - EXCELLENCE-1</li>
        <li>Jose Lorenzo Sotto - EXCELLENCE-2</li>
        <li>Aj Karl Valenzuela - EXCELLENCE-1</li>

    </ul>
    <p> VitalTrack is ideal for schools, universities, organizations, and local communities. It protects against infections, alerts individuals to their own health needs, and helps authorities respond quickly to outbreaks</p>
    <p>VitalTrack aids in achieving UN SDG 3, specifically Target 3.d, by swiftly detecting symptoms of global health risks. It detects fever and low oxygen levels, indicating potential respiratory or circulatory issues. The gathered data helps experts create health guidelines, monitor populations, and prevent health risks. VitalTrack promotes equitable healthcare with its potential to reach underserved populations, including remote areas and low-resource communities, providing timely medical attention.</p> 
          
</div>

<script type="module" src="../static/script.js"></script>

{% endblock %}