<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'style_login.css') }}">
    </head>

    <body>
        <div id="snackbar">Invalid login. Please try again.</div>
        <a href="/"><img src="{{ url_for('static', filename = 'images/logo-white-color.png') }}"  class="loginlogo"/></a>
        <main>    
            <h2>LOG IN TO VITALTRACK</h2>
            <form>
                <input id="username" type="email" placeholder="Email" required>
                <input id="password" type="password" placeholder="Password" required>
                <input type="submit" value="Log in">
            </form>
        </main>
    </body>
</html>

<script>
    document.querySelector("form").addEventListener("submit", (e) => {
        e.preventDefault();
        e.target.querySelector("input[type=submit]").value = "...";
        e.target.querySelector("input[type=submit]").disabled = true;

        fetch("{{ url_for('login') }}", {
            "method": "POST",
            "headers": {
                "Content-Type": "application/json"
            },
            "body": JSON.stringify({
                "username": document.querySelector("#username").value,
                "password": document.querySelector("#password").value
            })
        })
        .then(d => {
            e.target.querySelector("input[type=submit]").value = "Log in";
            e.target.querySelector("input[type=submit]").disabled = false;

            if(d.status === 200){
                window.location = "{{ url_for('user') }}"
            }
            else{
                let x = document.querySelector("#snackbar");
                x.classList.add("show");
                setTimeout(function(){ x.classList.remove("show") }, 3000);
            }
        })
    })
</script>