body{
    margin: 0;
    font-size: 16px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

header{
    align-items: center;
    justify-items: center;
    column-gap: 30px;
    width: 100%;
    position: absolute;
}

header h1{
    margin: 0;
    margin-right: 20px;
}

#menu-bar{
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    column-gap: 40px;
}

.logo-cont {
    width: 30%;
    padding-top: 27px;
    padding-left: 37px;

}

.nav-bar {
    width: 70%;
    display: flex;
    justify-content: end;
    padding: 20px;
}

.nav-bar ul {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.nav-bar ul li {
    list-style: none;
}

.mainlogo {
    width: 188px;
}

.nav-bar ul li a {
    text-transform: uppercase;
    color: #ffffff;
}

header button{
    height: 40px;
    width: 80px;
    border-radius: 5px;
    border: 1px solid black;
}

.left-cont {
    width: 33%;
    align-items: baseline;
 
   
}

.left-cont h1 {
    padding-top: 170px;
    font-size: 54px;
    line-height: 48px;
}

.forms {
    width: 67%;
    padding-top: 166px;
    background: #729343 no-repeat;
    color: #ffffff;
    background-size: contain;
}

main{
    background: url(../static/images/dentist4-section-bg8.webp) no-repeat #ffffff;
    display: flex;
}

main > div{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-top: 161px;
    padding: 30px;
    align-items: center;
    justify-items: center;

    width: fit-content;
}

input[type=search]{
    width: 658px;
    padding: 12px;
    border-radius: 10px;
    border: 0px;
    font-size: 23px;
}

select{
    height: 50px;
    width: 48%;
    border-radius: 10px;
    padding: 10px;
    font-size: x-large;
}

footer{
    text-align: center;
    font-size: smaller;

    padding: 30px;

    background-color: lightgreen;
}

footer p{
    margin: 0;
}

.main-svg {
    width: 100%;
}

#graph {
    width: 100%;
}

.svg-container {
    width: 100%!important;
}

a{
    text-decoration: none;
}

#dashboard {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: left;
    justify-items: left;
    column-gap: 10px;
    padding: 0;
}

#dashboard > div {
    padding: 10px;
    width: 90%;
}

.searchbtn {
    background: #000000;
    border: 0px;
    padding: 15px 10px;
    font-size: 17px;
    color: #ffffff;
    margin-left: -16px;
    border-radius: 0px 10px 10px 0px;
    vertical-align: bottom;
    cursor: pointer;
}

#choices {
    width: 100%;
    text-align: center;
}

/** RESPONSIVE CODE**/

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    header {
        position: inherit;
    }
    #menu-bar {
        display: block;
    }
    .logo-cont {
        margin: auto;
        padding-left: 0px;
        text-align: center;
    }

    .nav-bar {
        margin: auto;
        justify-content: center;
    }
    .nav-bar ul li a {
        color: #000000;
    }

    .nav-bar ul {
        padding: 0px;
    }
    main {
        display: block;
    }
    .left-cont h1 {
        padding-top: 0px;

    }
    .left-cont h1 br {
        display: none;
    }
    .left-cont {
        width: 100%;
        padding: 0px;
    }
    .left-cont p, .left-cont h1 {
        padding: 0px 30px;
    }
    .forms {
        width: 94%;
        padding-top: 57px;
    }

    #desc {
        width: 100%!important;
    }

    #dashboard {
        display: block!important;
    }

    .logindetails {
        width: 100%;
        text-align: center;
    }
    #dashboard > div {
        width: 100%!important;
        padding: 0pc!important;
    }

    .search-cont {
        width: 100%;
        text-align: center;
    }

}


@media only screen and (min-width: 320px) and (max-width: 768px) {
    input[type=search] {
        width: 85%;
    }
    .search-cont {
        width: 100%;
    }
    #dashboard > div {
        width: 100%!important;
        padding: 0pc!important;
    }
    .logindetails {
        width: 100%;
        text-align: center;
    }
    header {
        position: inherit;
    }
    #menu-bar {
        display: block;
    }
    .logo-cont {
        margin: auto;
        padding-left: 0px;
        text-align: center;
    }

    .nav-bar {
        margin: auto;
        justify-content: center;
    }
    .nav-bar ul li a {
        color: #000000;
    }

    .nav-bar ul {
        padding: 0px;
    }
    main {
        display: block;
    }
    .left-cont h1 {
        padding-top: 0px;

    }
    .left-cont h1 br {
        display: none;
    }
    .left-cont {
        width: 100%;
        padding: 0px;
    }
    .left-cont p, .left-cont h1 {
        padding: 0px 30px;
    }
    .forms {
        width: 92%;
        padding-top: 57px;
    }

    #desc {
        width: 100%!important;
    }

    #dashboard {
        display: block!important;
    }

}