main{
    padding: 0;
    row-gap: 0;
    height: 100%;
}

main div {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-top: 161px;
    padding: 30px;
    align-items: baseline;
    justify-items: left;
    width: fit-content;
}